


header{
  position: relative;
  width: 100%; 
  max-width: 600px; 
  margin: auto;
}

header img{
  width: 100vh;
  height: auto; 

}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 75px;
  text-align: center;

}